body,
p,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  font: 12px/1.5tahoma, arial;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.table_palace {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
}
.table_palace td {
  width: 20%;
  border: 3px solid black;
  font-size: 20px;
  font-weight: 100;
  background-color: rgba(155, 231, 255, 0.53);
}
.palace_tmp {
  width: 84px;
  height: 84px;
  border: 3px dashed black;
  background-color: rgba(203, 151, 255, 0.49);
  position: absolute;
}
.palace_btn {
  margin: 30px 0 0 0;
  text-align: center;
}
.palace_btn .palace_reset,
.palace_btn .palace_back {
  width: 120px;
  height: 40px;
  border: 1px solid #1e7db9;
  box-shadow: 0 1px 2px #8fcaee inset, 0 -1px 0 #497897 inset, 0 -2px 3px #8fcaee inset;
  background: -webkit-linear-gradient(top, #42a4e0, #2e88c0);
  background: -moz-linear-gradient(top, #42a4e0, #2e88c0);
  background: linear-gradient(top, #42a4e0, #2e88c0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#42a4e0', endColorstr='#2e88c0');
  /*  IE */
}
.palace_btn .palace_reset:after,
.palace_btn .palace_back:after {
  box-shadow: 1px 0 1px rgba(255, 255, 255, 0.8) inset, 1px 0 1px rgba(18, 85, 128, 0.9);
  background: -webkit-linear-gradient(top, #1e7db9, #2b85bd);
  background: -moz-linear-gradient(top, #1e7db9, #2b85bd);
  background: linear-gradient(top, #1e7db9, #2b85bd);
}
.palace_btn .palace_reset:hover,
.palace_btn .palace_back:hover {
  background: -webkit-linear-gradient(top, #70bfef, #4097ce);
  background: -moz-linear-gradient(top, #70bfef, #4097ce);
  background: linear-gradient(top, #70bfef, #4097ce);
}
.palace_btn .palace_reset:active,
.palace_btn .palace_back:active {
  top: 1px;
  box-shadow: 0 1px 3px #114566 inset,0 3px 0 #fff;
  background: -webkit-linear-gradient(top, #1a71a8, #1976b1);
  background: -moz-linear-gradient(top, #1a71a8, #1976b1);
  background: linear-gradient(top, #1a71a8, #1976b1);
}
.palace_btn .palace_reset {
  margin: 0 35px 0 0;
}
.palace_btn .palace_back {
  margin: 0 0 0 35px;
}
.remark {
  width: 400px;
  margin: 30px auto;
}
